.maps {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem;
  background-color: var(--nav-footer-background-color);
  border-radius: 5px;
  width: 250px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.image {
  filter: blur(2px);
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.select,
.selected {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.select {
  background-color: #007bff;
}

.select:hover {
  background-color: #006bdd;
}

.select:active {
  background-color: #0060c7;
}

.selected {
  background-color: #dc3545;
}
