.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container > :last-child {
  margin-top: auto;
}

.nav {
  background-color: var(--nav-footer-background-color, #e2e2e2);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 100ms ease-in-out;
}

.nav-link:hover {
  border-bottom-color: #000000;
}

.heading {
  color: #ff0000;
  font-size: 1.5rem;
}

.heading:hover {
  border-bottom-color: #ff0000;
}

@media (min-width: 500px) {
  .nav {
    flex-direction: row;
  }
}
